@using Microsoft.Fast.Components.FluentUI

<FluentGrid Justify="JustifyContent.FlexStart" Spacing="3" Style="background-color: var(--neutral-layer-3);height: 100vh; width: 100vw;overflow: hidden;">

    <FluentGridItem xs="6" sm="3" Style="height:100vh">
        <div class="card" style="border:dotted 1px;">
                    xs="6" sm="3"
                </div>
    </FluentGridItem>
    
    <FluentGridItem xs="18" sm="9" Style="height:100vh;width:100vw">
        <FluentGrid Spacing="1" Justify="JustifyContent.Center">
            <FluentGridItem xs="12" Justify="JustifyContent.Center" Style="height:50vh">
                <div class="card" style="border:dotted 0px; display:flex;flex-direction:column-reverse">
                    <FluentTextField Label="" @bind-Value="inputValue"/>
                   
                </div>
            </FluentGridItem>
            <FluentGridItem xs="12" Justify="JustifyContent.Center" Style="height:50vh">
                <div class="card" style="border:dotted 0px;">
                    <FluentIcon  Icon="Icons.Regular.Size24.PlayCircle" OnClick="checkRoomId"/>
                </div>
                <div>
                    <FluentDialog @ref="_myFluentDialog" @bind-Hidden="@Hidden" aria-label="Simple dialog" Modal=@_modal TrapFocus=@_trapFocus PreventScroll=@_preventScroll @ondialogdismiss=OnDismiss>
                        <FluentDialogHeader Visible="false" />
                        <h2>错误的房间号</h2>
                        <p>输入了非数字的字符</p>
                        <p>请重试。</p>
                        <FluentButton Appearance="Appearance.Accent" Autofocus="true" @onclick="OnClose">关闭</FluentButton>

                    </FluentDialog>

                    <FluentDialog @ref="_qrDialog" @bind-Hidden="@QrHidden" aria-label="Simple dialog2" Modal=@_qrModal TrapFocus=@_qrTrapFocus PreventScroll=@_qrPreventScroll @ondialogdismiss=OnQrDismiss>
                        <FluentDialogHeader Visible="false" />
                        <h2>是否扫码登录</h2>
                        <img url =@qrUrl />
                        <FluentButton Appearance="Appearance.Accent" Autofocus="true" @onclick="OnQrClose">关闭</FluentButton>

                    </FluentDialog>
                </div>
            </FluentGridItem>
            </FluentGrid>
    </FluentGridItem>
        
</FluentGrid>



@code {
    private string inputValue = "";
    private string responseText = "";
    private string qrUrl = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=123456";

    private FluentDialog? _myFluentDialog;
    private bool _trapFocus = true;
    private bool _modal = true;
    private bool _preventScroll = true;
    private string? _status;
    private bool Hidden { get; set; } = true;

    private FluentDialog? _qrDialog;
    private bool _qrTrapFocus = true;
    private bool _qrModal = true;
    private bool _qrPreventScroll = true;
    private string? _qrStatus;
    private bool QrHidden { get; set; } = true;

    private void checkRoomId()
    {
        if (!IsNumeric(inputValue))
        {
            OnOpen();
            inputValue = string.Empty;
        }
        else
        {
            OnQrOpen();    
        }
    }

    private bool IsNumeric(string input)
    {
        return double.TryParse(input, out _);
    }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            _myFluentDialog!.Hide();
            _qrDialog!.Hide();
    }

    private void OnOpen()
    {
        _status = "Dialog opened with button click";
        _myFluentDialog!.Show();
        System.Diagnostics.Debug.WriteLine(_status);
    }

    private void OnClose()
    {
        _status = $"Dialog dismissed with reason: Close button clicked";
        _myFluentDialog!.Hide();
        System.Diagnostics.Debug.WriteLine(_status);
    }

    private void OnDismiss(DialogEventArgs args)
    {
        if (args is not null && args.Reason is not null && args.Reason == "dismiss")
        {
            _status = $"Dialog dismissed with reason: Dismissed";
            _myFluentDialog!.Hide();
            System.Diagnostics.Debug.WriteLine(_status);
        }
    }
    private HttpClient httpClient = new HttpClient();
    private async Task MakeGetRequest()
    {
        try
        {
            // 发起 HTTP GET 请求
            HttpResponseMessage response = await httpClient.GetAsync("https://passport.bilibili.com/qrcode/getLoginUrl");

            if (response.IsSuccessStatusCode)
            {
                // 如果响应成功，读取响应内容
                responseText = await response.Content.ReadAsStringAsync();
            }
            else
            {
                responseText = "Error: " + response.StatusCode;
            }
        }
        catch (Exception ex)
        {
            responseText = "Error: " + ex.Message;
        }
    }

    private void OnQrOpen()
    {   
         //MakeGetRequest();
        _qrStatus = "Dialog opened with button click";
        _qrDialog!.Show();
        System.Diagnostics.Debug.WriteLine(_qrStatus);
    }

    private void OnQrClose()
    {
        _qrStatus = $"Dialog dismissed with reason: Close button clicked";
        _qrDialog!.Hide();
        System.Diagnostics.Debug.WriteLine(_qrStatus);
    }

    private void OnQrDismiss(DialogEventArgs args)
    {
        if (args is not null && args.Reason is not null && args.Reason == "dismiss")
        {
            _qrStatus = $"Dialog dismissed with reason: Dismissed";
            _qrDialog!.Hide();
            System.Diagnostics.Debug.WriteLine(_qrStatus);
        }
    }
}